.cp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fa;
  
    form {
      width: 100%;
      max-width: 400px;
      padding: 2rem;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      text-align: center;
      .error {
        color: red;
        font-size: 0.8rem;
        margin-top: -0.75rem;
        margin-bottom: 0.75rem;
        text-align: left;
    }
      .cp-f-header {
        font-size: 1.5rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 1.5rem;
        border-bottom: solid 1px black;
      }
  
      label {
        display: block;
        text-align: left;
        margin: 0.75rem 0 0.25rem;
        font-size: 0.9rem;
        color: #555;
      }
      select{
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #000000;
        border-radius: 8px;
        font-size: 1rem;
        background-color: #f9f9f9;
        transition: all 0.2s;
      }
      input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #000000;
        border-radius: 8px;
        font-size: 1rem;
        background-color: #f9f9f9;
        transition: all 0.2s;
  
        &:focus {
          border-color: #5cb85c;
          background-color: #fff;
          outline: none;
        }
  
        &::placeholder {
          color: #aaa;
        }
      }
  
      button {
        width: 100%;
        padding: 0.75rem;
        margin-top: 1rem;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #4cae4c;
        }
      }
    }
  }
  