@use './helpers/global.scss' as *;

.lp-l-container {
    display: block;
    height: 100vh; 
    overflow-y: scroll;
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth; 
}

.lp-l-container .lp-first,
.lp-l-container .lp-second,
.lp-l-container .lp-third,
.lp-l-container .lp-fourth,
.lp-l-container .lp-fifth {
    height: 100vh; 
    scroll-snap-align: start;
}

.lp-first {
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: #dabbf862;
    .lp-f-header {
        flex: 1;
        place-content: center;
        .lp-head-container {
            background-color: white;
            border-radius: 8px;
            width: 100%;
            height: 80%;
            margin-top: 1rem;
            display: flex;

            .lp-info-container {
                flex: 2;
                display: flex;
                gap: 10px;

                .lp-logo {
                    width: 10%;
                    display: grid;
                    align-items: center;
                    justify-content: start;
                    font-family: $jaro;
                    font-size: 2.2rem;
                    font-weight: bold;
                    padding-left: 20px;
                }

                .lp-infos {
                    display: flex;
                    width: 50%;
                    justify-content: space-evenly;

                    div {
                        display: grid;
                        place-content: center;
                        font-family: 'roboto';
                        font-size: 1.0rem;
                        font-weight: bold;

                        @keyframes smoothMove {
                            0% {
                                border-bottom: solid .1px black;
                            }
                            100% {
                                border-bottom: solid 2px black;
                            }
                        }

                        span {
                            &:hover {
                                animation: smoothMove .5s ease-in-out;
                                border-bottom: solid 1px black;
                                transition: transform .5s ease;
                                transform: translateY(5px);
                            }
                        }
                    }
                }
            }

            .lp-btns-container {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: end;
                padding-right: 4rem;

                .lp-btns {
                    width: 50%;
                    display: flex;
                    justify-content: space-evenly;

                    .lp-register {
                        @extend %basic-black-button;
                        &:hover{
                            transform: translateY(2px);
                            background-color: white;
                            color: black;
                        }
                    }

                    .lp-login {
                        background-color: white;
                        border: 1px solid black;
                        width: 6rem;
                        height: 2rem;
                        border-radius: 46px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 16px;
                        cursor: pointer;
                        justify-content: center;
                      
                        .lp-arrow {
                          content: '';
                          display: inline-block;
                          width: 8px;
                          height: 8px;
                          border: solid #000;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg);
                          transition: transform 0.2s ease;
                          margin-left: 5px;
                        }
                      
                        .lp-open {
                            transform: rotate(225deg);
                          }
                      }

                    .lp-login-container {
                        position: relative;
                    }

                    .lp-dropdown-menu {
                        position: absolute;
                        top: 40px;
                        right: 0;
                        background-color: white;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        width: 150px;
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                    }

                    .lp-dropdown-item {
                        padding: 10px;
                        cursor: pointer;
                        font-family: 'Roboto', sans-serif;
                        text-align: center;
                    }

                    .lp-dropdown-item:hover {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }

    .lp-f-body {
        flex: 12;
        margin-top: 20px;
        display: flex;
        border-radius: 12px;

        .lp-l-sec {
            flex: 1;
            border-radius: 13px;
            height: 100%;
            background-color: #D9BBF8;
            display: flex;
            justify-content: center;

            .lp-l-d-c {
                display: flex;
                height: 100%;
                width: 100%;
                padding-top: 30px;
                align-items: start;
                justify-content: center;
                .lp-l-d{
                    width: 80%;
                    height: 70vh;
                }
            }

            .lp-l-cont {
                height: 20rem;
                width: 35rem;

                .lp-up {
                    height: 60%;
                    p {
                        font-family: $jaro;
                        font-size: 2rem;
                    }
                }

                .lp-down {
                    height: 30%;
                    place-content: center;

                    .lp-d-cont {
                        height: 50%;
                        display: flex;
                        gap: 10px;

                        .lp-arr {
                            @include arrowDesign('../assets/arrow-l.svg');

                            @keyframes leftSlide {
                                0% {
                                  transform: translateX(0);
                                }
                                100% {
                                  transform: translateX(-10px);
                                }
                              }

                            &:hover {
                                animation: leftSlide 1s ease infinite;
                                background-color: black;
                                color: white;
                            }
                        }

                        .lp-tx {
                            flex: 10;
                            display: flex;
                            flex-direction: column;
                            font-family: 'raleway';
                        }
                    }
                }
            }
        }


        .lp-r-sec {
            flex: 0.6;
            place-content: start;
            opacity: 50%;
            border-radius: 13px;
            background-color: #FFF5D5;

            .lp-r-d-c {
                display: flex;
                height: 40vh;
                width: 100%;
                padding-top: 10px;
                justify-content: center;
                //background-color: red;
                .lp-r-d{
                    width: 80%;
                    height:70vh;
                }
            }

            .lp-r-e-c {
                display: flex;
                height: 30%;
                width: 83%;
                justify-content: end;
                align-items: end;
                //background-color: blue;
                .lp-r-e{
                    width: 50%;
                    height: 100%;
                }
            }

            .lp-r-t-c {
                display: flex;
                justify-content: end;
                align-items: center;
                margin-top: 20px;
                height: 10vh;
                //background-color: blue;

                .lp-r-text-c {
                    display: flex;
                    justify-content: start;
                    align-items: end;
                    margin: 10px;
                    margin-left: 200px;
                    //background-color: red;
                }

                .lp-r-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap:  8px;
                    padding: 10px;
                    margin-right: 100px;
                    cursor: pointer;
                    background-color: #FFF5D5;
                }
            }

            

            &:hover{
                flex: 1.5;
                opacity: 100%;
                scale: 1.05;
            }
            
            .lp-r-cont {
                height: 92%;
                background-color: #FCDF78;
                padding-top: 3rem;
                
                .lp-t-cont {
                    height: 78%;
                    display: flex;
                    flex-direction: column;

                    .lp-ps {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            height: 80%;
                            width: 80%;
                            text-align: right;
                            font-size: 1.8rem;
                            font-family: 'Righteous';
                            opacity: 0.5;
                        }
                    }

                    .lp-a-l {
                        flex: 0.4;
                        display: grid;
                        align-items: center;
                        .lp-d-cont1{
                            height: 50%;
                            display: flex;
                            .lp-d-txt {
                                flex: 1;
                                margin-left: 2rem;
                                display: flex;
                                flex-direction: column;
                                text-align: right;
                                font-family: 'raleway';
                                opacity: .5;
                            }
                            .lp-d-arr{
                                flex: .2;
                                display: grid;
                                place-content: center;
                                @keyframes leftSlide {
                                    0% {
                                        transform: translateX(0px);
                                    }
                                    75% {
                                        transform: translateX(5px);
                                    }
                                    100% {
                                        transform: translateX(10px);
                                    }
                                }
    
                                span{
                                    background-image: url('../assets/arrow-r.svg');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 2rem;
                                    width: 2rem;
                                    border-radius: 100px;
                                    background-color: rgba(128, 128, 128, 0.438);
                                    &:hover {
                                        animation: leftSlide 1s linear infinite;
                                        background-color: rgba(0, 0, 0, 0.336);
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.lp-second {
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: #FFF5D5;
    .lp-sr{
        flex: 1;
        display: flex;
        place-content: center;
        align-items: start;
        .lp-t-con{
            height: 100%;
            width: 80%;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 10px;
            // /background-color: red;

            .lp-s{
                font-family: 'Righteous';
                font-weight: bold;
                font-size: 2rem;
                color: #6C23B5;
            }
            .lp-n{
                font-family: "Inter";
                font-weight: light;
                font-size: 1.6rem;
                margin-bottom: 1rem;
                font-style: italic;
                color: #B89108;
            }

            .lp-p-c {
                display: flex;
                justify-content: end;
                margin-bottom: 1rem;
                .lp-p{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 90%;
                    background-color: white;
                }
                .lp-student-design {
                    height: 230px;
                    width: 280px;
                }
            }

            .lp-p1-c {
                display: flex;
                justify-content: start;
                margin-bottom: 1rem;
                .lp-p1{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 90%;
                    background-color: #F9DE83;
                }
                .lp-student-design {
                    height: 230px;
                    width: 250px;
                }
            }

            .lp-p2-c {
                display: flex;
                justify-content: end;
                margin-right: -100px;
                .lp-p2{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 83%;
                    background-color: #DABCF7;
                }
                .lp-student-design {
                    height: 250px;
                    width: 300px;
                }
            }

            .lp-p,
            .lp-p1,
            .lp-p2{
                height: 10rem;
                font-family: "Outfit";
                font-size: 1.5rem;
                text-align: left;
                font-weight: bold;
                border-radius: 20px;
                border: 1px solid black;
                box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
            }

        }
    }
}

.lp-third {
    display: flex;
    padding-bottom: 1rem;
    background-color: #dabbf862;
    .lp-sl{
        flex: 1;
        display: flex;
        place-content: center;
        align-items: center;
        .lp-t-con{
            height: 90%;
            width: 90%;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 10px;
            //background-color: blue;
            p{
                text-align: right;
            }
            .lp-s{
                font-family: 'Righteous';
                font-weight: bold;
                font-size: 2rem;
                color: #EABA1B;
            }
            .lp-n{
                font-family: "Inter";
                font-weight: light;
                margin-bottom: 2rem;
                font-size: 1.5rem;
                font-style: italic;
                color: #6C23B5;
            }

            .lp-p-c {
                display: flex;
                //background-color: red;
                height: 100%;
                gap: 20px;

                .lp-p-container {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid black;
                    height: 90%;
                    width: 45%;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFF5D5;
                    border-radius: 15px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);

                    .lp-p-inside {
                        display: flex;
                        height: 400px;
                        width: 60%;
                        margin-top: 10px;
                        margin-bottom: 50px;
                    }
                }

                .lp-p1-container {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid black;
                    height: 90%;
                    width: 45%;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 15px;
                    margin-top: 20px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);

                    .lp-p1-inside {
                        display: flex;
                        height: 100%;
                        width: 70%;
                        margin-top: 10px;
                        margin-bottom: 50px;
                    }
                }

                .lp-p2-container {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid black;
                    height: 90%;
                    width: 45%;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    background-color: #DABCF7;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);

                    .lp-p2-inside {
                        display: flex;
                        height: 100%;
                        width: 70%;
                        margin-top: 10px;
                        margin-bottom: 50px;
                    }
                }
            }

            .lp-p,
            .lp-p1,
            .lp-p2{
                height: 5rem;
                font-family: "Outfit";
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
    .lp-sr{
        flex: .7;
        background-color: rgba(57, 58, 58, 0.5);
    }
}

.lp-fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    .lp-fcont{
        height: 80%;
        width: 80%;
        display: flex;
        background-color: rgb(206, 205, 205);
        .lp-rs{
            flex: .9;
            background-color:rgb(206, 205, 205);
            display: flex;
            justify-content: start;
            align-items: center;
            .lp-fcont1{
                width: 90%;
                height: 75%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .lp-ftitle{
                    font-family: 'Righteous';
                    font-size: 3rem;
                }
                .lp-fdescription{
                    font-family: 'Martel Sans';
                    font-size: 1.2rem;
                }
                .lp-fsteps{
                    font-family: 'Martel Sans';
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                .lp-fbot{
                    font-family: 'Martel Sans';
                    font-size: 1.4rem;
                }
            }
        }
        .lp-ls{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .lp-l-container{
                width: 95%;
                height: 95%;
                overflow: hidden;
                background-color: rgb(206, 205, 205);
            }
            .swiper{
                height: 100%;
            }
            .swiper-slide{
                display: flex;
                justify-content: center;
                align-items: center;

                .lp-sl{
                    background-color: gray;
                    height: 87%;
                    width: 80%;
                    padding: 2rem;
                    padding-right: 3rem;
                    padding-top: 3rem;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    gap: 2.2rem;
                    p{
                        font-size: 1.4rem;
                        font-family: 'Outfit';
                        font-weight: bold;
                        color: white;
                    }
                }
                .sl2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .sl-qr{
                        background-color: blue;
                        height: 50%;
                        width: 50%;
                    }
                }
            }
            .swiper-button-next,
            .swiper-button-prev {
                width: 40px;
                height: 40px;
                background: none; 
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 40px;
            }
            .swiper-button-next::after,
            .swiper-button-prev::after {
                content: ''; 
                width: 10px;
                height: 10px;
                border-top: 2px solid black;
                border-right: 2px solid black;
                transform: rotate(45deg);
            }
            .swiper-button-prev::after
            {
                content: ''; 
                width: 10px;
                height: 10px;
                transform: rotate(-135deg);
            }
            .swiper-pagination-bullet {
                background-color: black; 
                color: black;
            }
            .c-slide{
                width: 80%;
                height: 70%;
            }
        }
    }

}

.lp-fifth {
    background-color: wheat;
}

.lp-sec {
    height: 100vh;
    scroll-snap-align: start;
}