@use './helpers/global' as *;

.lp-l-container {
    display: block;
    height: 100vh; 
    overflow-y: scroll;
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth; 
}

.lp-l-container .lp-first,
.lp-l-container .lp-second,
.lp-l-container .lp-third,
.lp-l-container .lp-fourth,
.lp-l-container .lp-fifth {
    height: 100vh; 
    scroll-snap-align: start;
}

.lp-first {
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
    padding-left: 2%;
    padding-right: 2%;

    .lp-f-header {
        flex: 1;
        place-content: center;
        .lp-head-container {
            background-color: $variable;
            border-radius: 8px;
            width: 100%;
            height: 80%;
            margin-top: 1rem;
            display: flex;

            .lp-info-container {
                flex: 2;
                display: flex;
                gap: 10px;

                .lp-logo {
                    width: 20%;
                    display: grid;
                    place-content: center;
                    font-family: $jaro;
                    font-size: 2.2rem;
                    font-weight: bold;
                }

                .lp-infos {
                    display: flex;
                    width: 50%;
                    justify-content: space-evenly;

                    div {
                        display: grid;
                        place-content: center;
                        font-family: 'roboto';
                        font-size: 1.2rem;

                        @keyframes smoothMove {
                            0% {
                                border-bottom: solid .1px black;
                            }
                            100% {
                                border-bottom: solid 2px black;
                            }
                        }

                        span {
                            &:hover {
                                animation: smoothMove .5s ease-in-out;
                                border-bottom: solid 1px black;
                                transition: transform .5s ease;
                                transform: translateY(5px);
                            }
                        }
                    }
                }
            }

            .lp-btns-container {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: end;
                padding-right: 4rem;

                .lp-btns {
                    width: 50%;
                    display: flex;
                    justify-content: space-evenly;

                    .lp-register {
                        @extend %basic-black-button;
                        &:hover{
                            transform: translateY(2px);
                            background-color: white;
                            color: black;
                        }
                    }

                    .lp-login {
                        background-color: white;
                        border: 1px solid black;
                        width: 6rem;
                        height: 2rem;
                        border-radius: 46px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 16px;
                        cursor: pointer;
                        justify-content: center;
                      
                        .lp-arrow {
                          content: '';
                          display: inline-block;
                          width: 8px;
                          height: 8px;
                          border: solid #000;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg);
                          transition: transform 0.2s ease;
                          margin-left: 5px;
                        }
                      
                        .lp-open {
                            transform: rotate(225deg);
                          }
                      }

                    .lp-login-container {
                        position: relative;
                    }

                    .lp-dropdown-menu {
                        position: absolute;
                        top: 40px;
                        right: 0;
                        background-color: white;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        width: 150px;
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                    }

                    .lp-dropdown-item {
                        padding: 10px;
                        cursor: pointer;
                        font-family: 'Roboto', sans-serif;
                        text-align: center;
                    }

                    .lp-dropdown-item:hover {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }

    .lp-f-body {
        background-color: white;
        flex: 12;
        display: flex;

        .lp-l-sec {
            flex: 1;
            border-radius: 13px;
            height: 95%;
            background-color: $variable;
            display: grid;
            justify-content: center;
            padding-top: 12rem;

            .lp-l-cont {
                height: 20rem;
                width: 35rem;

                .lp-up {
                    height: 60%;
                    p {
                        font-family: $jaro;
                        font-size: 2rem;
                    }
                }

                .lp-down {
                    height: 30%;
                    place-content: center;

                    .lp-d-cont {
                        height: 50%;
                        display: flex;
                        gap: 10px;

                        .lp-arr {
                            @include arrowDesign('../assets/arrow-l.svg');

                            @keyframes leftSlide {
                                0% {
                                  transform: translateX(0);
                                }
                                100% {
                                  transform: translateX(-10px);
                                }
                              }

                            &:hover {
                                animation: leftSlide 1s ease infinite;
                                background-color: black;
                                color: white;
                            }
                        }

                        .lp-tx {
                            flex: 10;
                            display: flex;
                            flex-direction: column;
                            font-family: 'raleway';
                        }
                    }
                }
            }
        }

        .lp-r-sec {
            flex: 0.6;
            background-color: white;
            place-content: start;
            padding-top: 2rem;

            .lp-r-cont {
                height: 92%;
                background-color: rgba(57, 58, 58, 0.137);
                padding-top: 3rem;

                .lp-t-cont {
                    height: 78%;
                    display: flex;
                    flex-direction: column;

                    .lp-ps {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            height: 80%;
                            width: 80%;
                            text-align: right;
                            font-size: 1.8rem;
                            font-family: 'Righteous';
                            opacity: 0.5;
                        }
                    }

                    .lp-a-l {
                        flex: 0.4;
                        display: grid;
                        align-items: center;
                        .lp-d-cont1{
                            height: 50%;
                            display: flex;
                            .lp-d-txt {
                                flex: 1;
                                margin-left: 2rem;
                                display: flex;
                                flex-direction: column;
                                text-align: right;
                                font-family: 'raleway';
                                opacity: .5;
                            }
                            .lp-d-arr{
                                flex: .2;
                                display: grid;
                                place-content: center;
                                @keyframes leftSlide {
                                    0% {
                                        transform: translateX(0px);
                                    }
                                    75% {
                                        transform: translateX(5px);
                                    }
                                    100% {
                                        transform: translateX(10px);
                                    }
                                }
    
                                span{
                                    background-image: url('../assets/arrow-r.svg');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 2rem;
                                    width: 2rem;
                                    border-radius: 100px;
                                    background-color: rgba(128, 128, 128, 0.438);
                                    &:hover {
                                        animation: leftSlide 1s linear infinite;
                                        background-color: rgba(0, 0, 0, 0.336);
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.lp-second {
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
    .lp-sl{
        flex: .6;
        background-color: rgba(57, 58, 58, 0.5);
    }
    .lp-sr{
        flex: 1;
        background-color: $variable;
        display: flex;
        place-content: center;
        align-items: center;
        .lp-t-con{
            height: 80%;
            width: 80%;
            padding-top: 3rem;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .lp-s{
                font-family: 'Righteous';
                font-weight: bold;
                font-size: 3rem;
            }
            .lp-n{
                font-family: "Inter";
                font-weight: light;
                margin-bottom: 2rem;
            }
            .lp-p{
                height: 5rem;
                font-family: "Outfit";
                font-size: 1.5rem;
                text-align: left;
                font-weight: bold;
            }
        }
    }
}

.lp-third {
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
    .lp-sl{
        flex: 1;
        background-color: $variable;
        display: flex;
        place-content: center;
        align-items: center;
        .lp-t-con{
            height: 80%;
            width: 80%;
            padding-top: 3rem;
            display: flex;
            flex-direction: column;
            gap: 10px;
            p{
                text-align: right;
            }
            .lp-s{
                font-family: 'Righteous';
                font-weight: bold;
                font-size: 3rem;
            }
            .lp-n{
                font-family: "Inter";
                font-weight: light;
                margin-bottom: 2rem;
            }
            .lp-p{
                height: 5rem;
                font-family: "Outfit";
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
    .lp-sr{
        flex: .7;
        background-color: rgba(57, 58, 58, 0.5);
    }
}

.lp-fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    .lp-fcont{
        height: 90%;
        width: 90%;
        display: flex;
        background-color: $variable;
        .lp-rs{
            flex: .9;
            background-color:blue;
        }
        .lp-ls{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .lp-l-container{
                width: 50%;
                height: 50%;
                overflow: hidden;
                background-color: brown;
                .swiper-container{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

}

.lp-fifth {
    background-color: wheat;
}

.lp-sec {
    height: 100vh;
    scroll-snap-align: start;
}