.signup-container {
  display: flex;
  height: 100vh;
}

.signup-design-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  background-color: #D9BBF7;

  .signup-logo-container {
    display: flex;
    height: 8vh;
    width: 8vw;
    margin: 20px;

    .signup-logo {
      width: 10vw;
    }
  }
}

.signup-design-human-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 25vw;
  margin: 20px;
  margin-top: 70px;

  .signup-design-human {
    width: 30vw;
    height: 50vh;
  }
}

.signup-sidebar-design {
  width: 5vw;
  background-color: #FEF5D8;
}

.signup-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin-top: 10px;

  .signup-details {
    display: flex;
    flex-direction: column;
    width: 23vw;
    height: 90vh;
    padding: 10px;
    //background-color: red;

    .signup-personal {
      display: flex;
      flex-direction: column;
      width: 22vw;
      //background-color: blue;
    }

    .signup-password {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      width: 22vw;
      //background-color: green;
    }

    .signup-btns-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      gap: 10px;

      .signup-register-btn {
        padding: 10px;
        width: 10vw;
        color: white;
        background-color: black;
        border-radius: 10px;
        cursor: pointer;
      }

      .signup-google-btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
        width: 15vw;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;

        .google-logo {
          width: 25px; 
        }
      }
    }
    
    .signup-p-label {
      padding: 6px;
      font-size: 13px;
      font-weight: bold;
    }
    .signup-input-style {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid black;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    .signup-p-design {
      font-weight: bold;
      width: 10vw;
      padding: 5px;
      padding-left: 0px;
      border-bottom: 1px solid black;
    }
  }
}
