.sb-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .sb-header {
        flex: 0 0 auto;
        height: 5rem;
        display: flex;

        .sb-l-container {
            flex: 1;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 2rem;

            .sb-m-logo {
                height: 80%;
                width: 10rem;
                background-image: url('../assets/mainlogo.png');
                background-size: 85%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .sb-p-container {
            flex: 1;
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 3rem;
            gap: 2rem;

            .sb-hn-container {
                display: flex;
                width: 20%;
                gap: 0.7rem;
                justify-content: center;
                align-items: center;

                span {
                    width: 30%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 60%;
                }

                .sb-nicon {
                    background-image: url('../assets/notif.svg');
                    height: 3rem;
                }

                .sb-hicon {
                    background-image: url('../assets/home.svg');
                    height: 3rem;
                }
            }

            .sb-pr-container {
                position: relative;

                .sb-profile {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .sb-pimg {
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50%;
                        background-image: url('../assets/profile.svg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        border: solid black 2px
                    }

                    .sb-parrow {
                        display: inline-block;
                        width: 7px;
                        height: 7px;
                        margin-left: 0.5rem;
                        border-left: 2px solid black;
                        border-bottom: 2px solid black;
                        transform: rotate(-45deg); 
                        transition: transform 0.3s ease;

                        &.arrow-up {
                            transform: rotate(-225deg); 
                        }
                    }
                }

                .sb-dropdown {
                    position: absolute;
                    top: 110%; /* Slightly below the profile container */
                    right: 0;
                    background: #ffffff;
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                    padding: 10px 0;
                    z-index: 10;

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li {
                            padding: 10px 20px;
                            cursor: pointer;
                            transition: background-color 0.3s;

                            &:hover {
                                background-color: #f5f5f5;
                            }
                        }
                    }
                }
            }
        }
    }

    .sb-body {
        flex: 8;
        background-color: #F2EAF7;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 5rem;
        flex-wrap: wrap;
        flex-direction: column;
        .sb-welcome{
            height: 10rem;
            display: flex;
            flex-direction: column;
            .sb-wel{
                padding-left: 5rem;
                font-family: 'Righteous';
                font-size: 3rem;
                color: #EEC849;
                span{
                    color: #6C23B5;
                }
            }
            .sb-kick{
                padding-left: 8rem;
                font-size: 1.2rem;
                font-family: 'Outfit';
            }
        }
        .sb-discover{
            height: 3rem;
            display: flex;
            place-content: center;
            gap: .2rem;
            margin-bottom: 1rem;
            font-family: 'Outfit';
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                height: 2.5rem;
                width: 10rem;
                position: relative;
                gap: .5rem;
                cursor: pointer;
                transition: all 0.3s ease;
                font-weight: bold;
                &:hover{
                    background-color: black;
                    color: white;
                    transform: scale(1.05);
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                }
                &:active {
                    transform: scale(0.95);
                }
                .ed-icon{
                    height: 50%;
                    width: 15%; 
                    display: inline-block;
                    background-image: url('../assets/event1.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 80%;
                }
                .me-icon{
                    height: 50%;
                    width: 15%; 
                    display: inline-block;
                    background-image: url('../assets/event2.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 80%;
                }
            }
            
        }
        .sb-featured{
            height: 30rem;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            .sb-fe{
                font-family: 'Outfit';
                font-weight: bold;
                font-size: 2rem;
            }
            .sb-fm {
                flex: 1;
                border: black solid 2px;
                background-color: #D9BBF7;
                padding: 2rem;
                display: flex;
                gap: 1rem;
                overflow: hidden;
                transition: overflow 0.3s ease;
                align-items: center;
                
                &:hover {
                    overflow: scroll; 
                }
            
                &::-webkit-scrollbar {
                    width: 8px;
                }
            
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                }
                
                div {
                    border-radius: 8px;
                    background-color: white;
                    border: solid 2px black;
                    flex: 0 0 auto;
                    height: 80%;
                    width: 25%;
                    transition: width 0.4s ease;
                    scroll-snap-align: center;
                    &:hover{
                        height: 90%;
                        width: 35%;
                    }
                }
            }
            
        }
        .sb-uregistered{
            height: 50rem;
            background-color: #FFF5D5;
            border: solid 2px black;
            border-radius: 17px;
            padding: 5rem;
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .sb-uheader{
                width: 100%;
                display: flex;
                .sb-re{
                    flex: 1;
                    font-size: 2rem;
                    font-family: 'Outfit';
                    font-weight: bold;
                }
                .sb-va{
                    flex: 1;
                    display: flex;
                    justify-content: end;
                }
            }
            .sb-ur-cont{
                height: 100%;
                display: grid;
                padding-left: 2rem;
                padding-right: 2rem;
                grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
                gap: 2rem;
                div{
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
                    border: solid 2px black;
                    border-radius: 8px;
                    background-color: white;
                }
            }
        }
        .small-footer{
            height: 10rem;
        }
    }

    .sb-footer {
        height: 5rem;
        background-color: red;
    }
}
